{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    {% include "sub_menu_enlaces.html" %}

    <div class="container">
        <div class="row justify-content-md-center my-4" style="background-color:white;">
            <div class="col col-lg">
                <h2>Actualización de programas</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-md-center" style="background-color:white;">
            <div class="col col-lg">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
