{% extends "base.html" %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}

    {% include "sub_menu_enlaces.html" %}

    <div class="container">
        <div class="row justify-content-md-center my-4" style="background-color:white;">
            <div class="col col-lg">
                <h2>Validación de estudiantes</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-betweencontainer-sm my-4" style="background-color:white;">
            <div class="col col-lg my-4">

                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center"><img
                                        src="/media{{ student.pic.url }}" alt="Student" class="rounded-circle"
                                        width="150" height="150">
                                    <div class="mt-3">
                                        <h4>{{ student.primer_apellido|title }} {{ student.segundo_apellido|title }}<br>{{ student.nombre|title }}</h4>
                                        <p class="text-muted font-size-sm mb-1">{{ academic.programa.university.university|title }}</p>
                                        <p class="text-secondary">{{ academic.programa.programa|title }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-3">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">
                                        ID Estudiante
                                    </h6>
                                    <span class="text-secondary">{{ student.student_id|upper }}</span></li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">
                                        Modalidad
                                    </h6>
                                    <span class="text-secondary">{{ academic.programa.modalidad|title }}</span></li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">
                                        Nivel actual
                                    </h6>
                                    <span class="text-secondary">{{ academic.nivel_actual }}</span></li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">
                                        Continúa (TSU)
                                    </h6>
                                    <span class="text-secondary">{{ academic.continua }}</span></li>
                            </ul>
                        </div>

                    <form method="post">
                    {% csrf_token %}
                        <div class="card mt-3">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">
                                        Convocatoria
                                    </h6>
                                    <span class="text-secondary">{{ object.convocatoria|upper }}</span></li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">
                                        Puntuación de ESE
                                    </h6>
                                    <span class="text-secondary">{{ object.socioeconomic_score }}</span></li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">
                                        Promedio
                                    </h6>
                                    <span class="text-secondary">{{ academic.promedio|stringformat:".2f" }}</span></li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="text-secondary">{{ form.comments|as_crispy_field }}</h6>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">Estudiante prioritario</h6>
                                    <span class="text-secondary">{{ form.prioritario }}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">Validado</h6>
                                    <span class="text-secondary">{{ form.validated }}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <button type="submit" class="btn btn-outline-primary">Enviar</button>
                                </li>
                            </ul>
                        </div>
                </form>

                    </div>
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3"><h6 class="mb-0">Fecha de Nacimiento</h6></div>
                                    <div class="col-sm-9 text-secondary"> {{ student.fecha_nacimiento }}</div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3"><h6 class="mb-0">Lugar de Nacimiento</h6></div>
                                    <div class="col-sm-9 text-secondary"> {{ student.lugar_nacimiento }}</div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3"><h6 class="mb-0">Email</h6></div>
                                    <div class="col-sm-9 text-secondary"> {{ email }}</div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3"><h6 class="mb-0">Telefonos</h6></div>
                                    <div class="col-sm-9 text-secondary"> {{ telefonos }}</div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3"><h6 class="mb-0">Dirección</h6></div>
                                    <div class="col-sm-9 text-secondary"> {{ student.calle|title }}
                                        #{{ student.numero_ext }}, {{ student.colonia|title }},
                                        C.P. {{ student.codigo_postal }}, {{ student.localidad|title }}, {{ student.municipio|title }} </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3"><h6 class="mb-0">INE</h6></div>
                                    <div class="col-sm-9 text-secondary"> {{ student.ine }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters-sm">
                            <div class="col-sm-12 mb-3">
                                <div class="card-body"><h6 class="d-flex align-items-center mb-3"><i
                                        class="material-icons text-info mr-2">Resultados</i>Estudio Socioeconómico</h6>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">
                                                Rango de pobreza de su colonia
                                            </h6>
                                            <span class="text-secondary">{{ ses.poverty_range.poverty }}</span></li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">
                                                Rango de promedio general
                                            </h6>
                                            <span class="text-secondary">{{ ses.average_grade_range.average_grade_range }}</span></li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">
                                                Número de integrantes de la familia
                                            </h6>
                                            <span class="text-secondary">{{ ses.family_members.family_members_range }}</span></li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">
                                                Ingreso familiar mensual
                                            </h6>
                                            <span class="text-secondary">{{ ses.family_monthly_income.family_monthly_income }}</span></li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">
                                                Escolaridad del padre o tutor
                                            </h6>
                                            <span class="text-secondary">{{ ses.education_level_father.parent_education_level }}</span></li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">
                                                Escolaridad de la madre o tutora
                                            </h6>
                                            <span class="text-secondary">{{ ses.education_level_mother.parent_education_level }}</span></li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">
                                                El principal proveedor en el hogar está registrado o afiliado en
                                            </h6>
                                            <span class="text-secondary">{{ ses.social_security.social_security }}</span></li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">
                                                El principal proveedor en el hogar económicamente activo, asalariado con las siguientes prestaciones laborales
                                            </h6>
                                            <span class="text-secondary">{{ ses.provider_perks.provider_perks }}</span></li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">
                                                Tipo de vivienda
                                            </h6>
                                            <span class="text-secondary">{{ ses.home_type.home_type }}</span></li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">
                                                Tipo de piso de la vivienda
                                            </h6>
                                            <span class="text-secondary">{{ ses.home_floor.home_floor }}</span></li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">
                                                Tipo de techo de la vivienda
                                            </h6>
                                            <span class="text-secondary">{{ ses.home_ceil.home_ceil }}</span></li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">
                                                Tipo de muros de la vivienda
                                            </h6>
                                            <span class="text-secondary">{{ ses.home_walls.home_walls }}</span></li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">
                                                Personas por habitación
                                            </h6>
                                            <span class="text-secondary">{{ ses.home_persons.home_persons }}</span></li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">
                                                Agua potable
                                            </h6>
                                            <span class="text-secondary">{{ ses.service_water.service_water }}</span></li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">
                                                Electricidad
                                            </h6>
                                            <span class="text-secondary">{{ ses.service_electricity.service_electricity }}</span></li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">
                                                Drenaje
                                            </h6>
                                            <span class="text-secondary">{{ ses.service_sewer.service_sewer }}</span></li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">
                                                Combustible para cocinar
                                            </h6>
                                            <span class="text-secondary">{{ ses.service_gas.service_gas }}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
