

{%  for convoc, status in convocatorias %}

    <div class="card text-center my-4">
        <div class="card-header">
            Convocatoria
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ convoc.name }} - {{ convoc.modalidad }}</h5>
            <p class="card-text">{{ convoc.description }}</p>
            {% if status == True %}
                <a href="{% url "dashboard" %}" class="btn btn-success">Registrate</a>
            {% else %}
                <a href="#" class="btn btn-danger">Cerrada</a>
            {%  endif %}
        </div>
        <div class="card-footer text-muted">
            {{ convoc.start_date }} / {{ convoc.end_date }}
        </div>
    </div>

{% endfor %}