{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    {% include "sub_menu.html" %}

    <div class="container">
        <div class="row justify-content-md-center my-4" style="background-color:white;">
            <div class="col col-lg">
                <h1>Convocatorias</h1>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-md-center my-4" style="background-color:white;">
            <div class="col col-lg my-4">
            <p>Puedes participar en cualquiera de las sieuitnetes convocatorias.</p>

             {% include "convocatoria.html" %}

        </div>
      </div>
    </div>


{% endblock %}
