

{% load static %}

{% for convoc, status, particpated in convocatorias %}

    <div class="card text-center my-4">
        <div class="card-header">
            Convocatoria
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ convoc.name }} - {{ convoc.modalidad }}</h5>
            <p class="card-text">{{ convoc.description }}</p>

   
	        <a type="button" class="btn btn-outline-secondary" href="{% static 'images/convocatoria.pdf' %}">
			        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-download"
					             viewBox="0 0 16 16">
					            <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"></path>
						                <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"></path>
								        </svg>
									        Descargar convocatoria
										    </a>
	    
	    {% if particpated == True %}
                <a href="#" class="btn btn-success">Ya se ha registrado</a>

            {% elif status == True %}

                <button type="button" class="btn btn-primary create-aspirante-{{ convoc.codigo }}">
                    Registrate
                </button>

                <div class="modal fade" id="modal-{{ convoc.codigo }}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>

                <script type="text/javascript">
                    $(function () {
                        $(".create-aspirante-{{ convoc.codigo }}").click(function () {
                            $.ajax({
                                url: '{% url 'create-aspirante' convocCode=convoc.codigo %}',
                                type: 'get',
                                dataType: 'json',
                                beforeSend: function () {
                                    $("#modal-{{ convoc.codigo }}").modal("show");
                                },
                                success: function (data) {
                                    $("#modal-{{ convoc.codigo }} .modal-content").html(data.html_form);
                                },
                                fail: function () {
                                    alert("Error with ajax");
                                }
                            });
                        });
                    });
                </script>

            {% else %}
                <a href="#" class="btn btn-danger">Cerrada</a>
            {% endif %}
        </div>
        <div class="card-footer text-muted">
            {{ convoc.start_date }} / {{ convoc.end_date }}
        </div>
    </div>

{% endfor %}
