{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    {% include "sub_menu.html" %}

    <div class="container">
        <div class="row justify-content-md-center my-4" style="background-color:white;">
            <div class="col col-lg">
                <h1>Internal Dashboard</h1>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-md-center my-4" style="background-color:white;">
            <div class="col col-lg my-4">
                <h2>Aplicacones</h2>
                <p>Validar aplicaciones</p>
                <p>Ver beneficiarios</p>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
