{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    {% include "sub_menu.html" %}

    <div class="container">
        <div class="row justify-content-md-center mt-4" style="background-color:white;">
            <div class="col col-lg">
                <h2>Información académica</h2>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-md-center" style="background-color:white;">
            <div class="col col-lg">

                <form method="POST" action="" id="academicProgramForm"
                      academic-programs-url="{% url 'ajax-load-programs' %}">
                    {% csrf_token %}
                    {% crispy form %}
                </form>

            </div>
        </div>
    </div>

    <script>

        var url = $("#academicProgramForm").attr("academic-programs-url");

        if (document.getElementById("id_university").selectedIndex == 0 && document.getElementById("id_grado").selectedIndex == 0) {
            $("#id_programa").html("<option value=\"\">---------</option>");
        }

        if (document.getElementById("id_university").selectedIndex != 0 && document.getElementById("id_grado").selectedIndex != 0) {
            var programaId = $("#id_programa").val();
            var universityId = $("#id_university").val();
            var gradoId = $("#id_grado").val();
            $.ajax({
                url: url,
                data: {
                    'university_id': universityId,
                    'grado_id': gradoId
                },
                success: function (data) {
                    $("#id_programa").html(data);
                    $("#id_programa option[value='" + programaId + "']").attr("selected", true);
                }
            });
        }

        $("#id_university").change(function () {
            var universityId = $("#id_university").val();
            var gradoId = $("#id_grado").val();
            $.ajax({
                url: url,
                data: {
                    'university_id': universityId,
                    'grado_id': gradoId
                },
                success: function (data) {
                    console.log(data);
                    $("#id_programa").html(data);
                }
            });
        });

        $("#id_grado").change(function () {
            var universityId = $("#id_university").val();
            var gradoId = $("#id_grado").val();
            $.ajax({
                url: url,
                data: {
                    'university_id': universityId,
                    'grado_id': gradoId
                },
                success: function (data) {
                    $("#id_programa").html(data);
                }
            });
        });
    </script>
{% endblock %}
