{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    {% include "sub_menu.html" %}

    <div class="container">
        <div class="row justify-content-md-center mt-4" style="background-color:white;">
            <div class="col col-lg">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-md-center" style="background-color:white;">
            <div class="col col-lg">
            <h2>Estatus</h2>
            <p>Revisa el siguiente checklist para poder aplicar a alguna de nuestras becas:</p>
            <table class="table table-light table-striped">
                <tr>
                    <th>Formato</th>
                    <th>Estatus</th>
                </tr>
                <tr>
                    <td>Perfil</td>
                    <td>Ok</td>
                </tr>
                <tr>
                    <td>Información académica</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Estudio socioeconómico</td>
                    <td></td>
                </tr>
            </table>

            <h2>Historial de convocatorias</h2>
            <table class="table table-light table-striped">
                <tr>
                    <th>Convocatoria</th>
                    <th>Resultado</th>
                </tr>
                <tr>
                    <td>Perfil</td>
                    <td>Ok</td>
                </tr>
                <tr>
                    <td>Información académica</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Estudio socioeconómico</td>
                    <td></td>
                </tr>
            </table>

            </div>
        </div>
    </div>

{% endblock %}
