{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    {% include "sub_menu.html" %}

    <div class="container">
        <div class="row justify-content-md-center mt-4" style="background-color:white;">
            <div class="col col-lg">
                <h1>Estudio Socioeconómico</h1>
                <strong>Formato de estudio socioeconómico del fideicomiso de fondo de becas para estudiantes de
                    Instituciones Públicas de Educación Superior (IPES)</strong><br><br>
            </div>
        </div>
    </div>

                        <br><h2>Datos Económicos del solicitante </h2><br>

                        <div class="row">
                            <div class="col-4">
                                {{ form.dad_occupation|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.dad_income|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.mom_occupation|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                {{ form.mom_income|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.son_occupation|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.son_income|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                {{ form.candidate_occupation|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.candidate_income|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.candidate_workplace|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                {{ form.family_income|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.exp_food|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.exp_rent|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                {{ form.exp_water|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.exp_elect|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.exp_diversion|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                {{ form.exp_transport|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.exp_education|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.exp_tv_internet|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                {{ form.exp_otros|as_crispy_field }}
                            </div>
                        </div>

                        <br><h2>Datos de educación del solicitante </h2><br>

                        <div class="row">
                            <div class="col-4">
                                {{ form.dad_scholar|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.mom_scholar|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.cand_scholar|as_crispy_field }}
                            </div>  
                        </div>

                        <div class="row">
                            <div class="col-4">
                                {{ form.spous_scholar|as_crispy_field }}
                            </div>  
                        </div>

                        <br><h2>Salud y Seguridad Social </h2><br>

                        {{ form.employment_benefits|as_crispy_field }}
                        {{ form.healt_prov|as_crispy_field }}

                        <br><h2>Vivienda</h2><br>

                        <div class="row">
                            <div class="col-4">
                                {{ form.home_type|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.floor_type|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.ceiling_type|as_crispy_field }}
                            </div>  
                        </div>

                        <div class="row">
                            <div class="col-4">
                                {{ form.walls_tipe|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.room_persons|as_crispy_field }}
                            </div> 
                        </div>

                        <div class="row">
                            <div class="col-4">
                                {{ form.water_service|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.drain_service|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.fuel_service|as_crispy_field }}
                            </div>  
                        </div>

                        <div class="row">
                            <div class="col-4">
                                {{ form.elect_service|as_crispy_field }}
                            </div> 
                        </div>


                    



                        <br>
                        <button type="submit" class="btn btn-success"> Guardar </button>
                    </form>
    
                </div>
            </div>
        </div>
    </section>   

{% endblock %}