{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    {% include "sub_menu.html" %}

    <div class="container">
        <div class="row justify-content-md-center mt-4" style="background-color:white;">
            <div class="col col-lg">
                <h1>Estudio Socioeconómico</h1>
                <strong>Formato de estudio socioeconómico del fideicomisode fondo de becas para estudiantes de Instituciones Públicas de Educación Superior (IPES)</strong><br><br>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-md-center" style="background-color:white;">
            <div class="col col-lg">

                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Guardar">
                </form>

            </div>
        </div>
    </div>

{% endblock %}