{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    {% include "sub_menu.html" %}

    <div class="container">
        <div class="row justify-content-md-center mt-4" style="background-color:white;">
            <div class="col col-lg">
                <br><h2>Recomendaciones de llenado</h2><br>
                <p class="lead" align="justify">Antes de comenzar con el llenado de la solicitud para aplicar al apoyo de la beca, es necesario que cuentes con toda la información requerida de forma precisa y completa.
                    La aplicación podrá ser guardada y actualizada posteriormente si fuera necesario.
                Es posible ingresar los datos desde tu celular. Sin embargo, te recomendamos utilizar una computadora de escritorio o una laptop.</p><br>
                <h2>Perfil</h2>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-md-center" style="background-color:white;">
            <div class="col col-lg">

                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% crispy form %}

                </form>

            </div>
        </div>
    </div>


{% endblock %}
